* {
    font-family: sans-serif;
}

body {
    background-color: rgb(245, 245, 245);
}

h1 {
    size: 24px;
    color: #242424;
    font-weight: 900;
}

h2 {
    size: 20px;
    color: #606060;
    font-weight: 800;
}

p {
    size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

li {
    font-family: monospace;
    size: 18px;
    list-style-type: none;
    padding: 10px;
}

li a {
    font-weight: bold;
    color: orange;
}

ul {
    margin-right: 100px;
    padding: 20px;
    border: 2px solid blue;
    width: 40%;
}

.green {
    color: green;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.1)
}


